@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    display: none;
  }
  /*  body {
    background: rgb(53, 2, 61);
    background: radial-gradient(circle, rgba(53, 2, 61, 1) 0%, rgba(72, 9, 121, 1) 45%, rgba(148, 0, 255, 1) 100%);
  } */
  .pulseanimation {
    animation-name: animatebg;
    animation-duration: 25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  @keyframes animatebg {
    0% {
      transform: scaleX(1);
    }
    50% {
      transform: scaleX(2);
    }
    100% {
      transform: scaleX(1);
    }
  }
  :root {
    /*FONTSIZE*/
    --step--1: clamp(0.8rem, 0.7403rem + 0.2548cqi, 0.9377rem);
    --step-0: clamp(1rem, 0.8916rem + 0.4624cqi, 1.25rem);
    --step-1: clamp(1.25rem, 1.0695rem + 0.7699cqi, 1.6663rem);
    --step-2: clamp(1.5625rem, 1.277rem + 1.2182cqi, 2.2211rem);
    --step-3: clamp(1.9531rem, 1.5163rem + 1.8638cqi, 2.9607rem);
    --step-4: clamp(2.4414rem, 1.7888rem + 2.7843cqi, 3.9467rem);
    --step-5: clamp(3.0518rem, 2.094rem + 4.0863cqi, 5.2609rem);
    /*COLORS*/
    /* dark puple */
    --bg-primary: oklch(37.896% 0.1009 290.58);
    --bg-primary-light: oklch(37.896% 0.1009 290.58 / 0.501);
    /*extra dark*/
    --bg-secondary: oklch(33.47% 0.06941 283.12);
    /* gray */
    --text-primary: oklch(95.963% 0.00214 197.12);
    /* dark puple */
    --text-secondary: oklch(37.896% 0.1009 290.58);
    /* hotyellow */
    --btn-prim-background: oklch(93.114% 0.19848 123.3);
    /* dark puple */
    --btn-secon-background: oklch(37.896% 0.1009 290.58);
    /* hotyellow */
    --btn-text-secon: oklch(93.114% 0.19848 123.3);

    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: oklch(33.47% 0.06941 283.12);
    --card-foreground: oklch(95.963% 0.00214 197.12);

    --popover: oklch(33.47% 0.06941 283.12);
    --popover-foreground: oklch(95.963% 0.00214 197.12);

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: oklch(95.963% 0.00214 197.12);
    --muted-foreground: oklch(95.963% 0.00214 197.12);

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: oklch(93.114% 0.19848 123.3);
    --input: oklch(95.963% 0.00214 197.12);
    --ring: oklch(93.114% 0.19848 123.3);

    --radius: 6px;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes scaleout {
  to {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes scalein {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.change {
  view-transition-name: mainview;
}

::view-transition-old(mainview) {
  animation: 400ms cubic-bezier(0.4, 0, 1, 1) both scaleout;
}

::view-transition-new(mainview) {
  animation: 410ms cubic-bezier(0, 0, 0.2, 1) both scalein;
}
